.container-fluid {
  background-color: #ffffff;
  padding: 30px;
}
.header {
  background-color: #666666;
  padding: 30px;
  height: 200px;
}
.nav {
  background-color: #333333;
  padding: 30px;
  height: 100px;
  color: white;
}
.content {
  background-color: #fbfbfb;
  padding: 30px;
  height: 300px;
}
.aside {
  background-color: #666666;
  padding: 30px;
  height: 300px;
}
.promo {
  background-color: orange;
  padding: 30px;
  height: 300px;
}
footer {
  background-color: black;
  padding: 30px;
  height: 100px;
  color: white;
}



@media screen and (min-width : 375px) {
.promo {
  background-color: red;
}
}
@media screen and (min-width : 768px) {
.content {
  background-color: #fff;
}
}
